:root {
    --button-color: #0f0f0f98;
    --button-color-100: #27272798;

    --theme: #F66200;
    --font-color: #ffffff;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    background-color: #292929;
    color: var(--font-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    overflow: hidden;
}

.questions {
    cursor: default;
    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.questions img {
    user-select: none;

    order: 2;
}

.chatBubble {
    background-color: var(--button-color);
    padding: 10px;
    color: var(--font-color);
    text-align: center;
    border-radius: 10px;
    order: 1;

    max-width: 30%;
    word-wrap: break-word;
}

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 10px
}

button, #q {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--button-color);
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #ffffff;
    background-color: var(--button-color);
}

button:hover, #q:hover {
    border-color: var(--theme);
}

button:active {
    background-color: var(--button-color-100);
}

.answer {
    color: var(--theme);
    font-weight: 700;
    font-family: system-ui;
}

.nav {
    font-size: 14px;
}

input, select {
    background-color: var(--button-color);
    padding: 10px;
    color: var(--font-color);
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input:hover, input:active, input:focus, select:hover, select:active, select:focus {
    border-color: var(--theme);
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--button-color);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--button-color-100);
}

.expand_info {
    cursor: default;
    user-select: none;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.answers {
    order: 2;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}

.random {
    line-height: 0px;
}

div#expand.container {
    order: 3;
    padding-top: 5px;
}

.hidden {
    display: none;
}